{% extends 'layout.njk' %}
{% import 'parts/section-products.njk' as section %}

{% block head %}
    <link rel="stylesheet" href="/styles/home/home.css">
{% endblock %}

{% block content %}

    {{section.products('Últimos produtos', 'container', products)}}

{% endblock %}