{% extends 'layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/products/create.css">
{% endblock %}

{% block content %}
    <section class="container form">
        <form action="/products" method="post">
            <div class="header">
                <h3>Cadastrar Produto {{ productId }}</h3>
            </div>
            <div class="fields">
                {% include 'products/fields.njk' %}
            </div>
            <button type="submit" class="button">Salvar</button>
        </form>
    </section>
{% endblock %}