{% extends 'layout.njk' %}
{% import 'parts/card.njk' as card %}

{% block content %}
    {% call card.render ('Editar Produto', 'product-create container') %}
        <form action="/products?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="fields">
                {% include 'products/fields.njk' %}
                <input type="hidden" name="id" value="{{ product.id }}">
            </div>
            <button type="submit" class="button edit">Atualizar</button>
        </form>

        <form action="/products?_method=DELETE" id="form-delete" method="post">
            <input type="hidden" name="id" value="{{ product.id }}">
            <button type="submit" class="button delete">Deletar</button>
        </form>
    {% endcall %}
    
    <script>
        const formDelete = document.querySelector ('#form-delete')
        formDelete.addEventListener ('submit', ( event ) => {
            const confirmation = confirm('Desejar Deletar?')
            if ( !confirmation ) event.preventDefault()
        })
    </script>
{% endblock %}