section.login.container, 
section.password.container {
    max-width: 500px;
}
section.login.container .fields {
    margin-bottom: 32px;
}
section.login.container .fields .password,
section.password.container {
    display: initial;
}
section.login.container .fields .password .input input,
section.login.container .fields .input input[type="email"] {
    border: 1px solid rgb(189, 189, 189);
}

section.login.container .footer ul {
    display: flex;
    justify-content: space-evenly;
}
section.login.container .footer ul a {
    color: #215cc9;
    padding-bottom: 2px;
}