{% extends 'layout.njk' %}
{% import 'parts/card.njk' as card %}

{% block head %}
    <link rel="stylesheet" href="/styles/users/create.css">
    <link rel="stylesheet" href="/styles/products/edit.css">
{% endblock %}

{% block content %}
    {% call card.render ('Detalhes', 'password container') %}
        <form action="/users?_method=PUT" method="post">
            <div class="fields">
                {% include 'user/fields.njk' %}
                <input type="hidden" name="id" value="{{ user.id }}">
            </div>
            <button type="submit" class="button edit">Atualizar</button>
        </form>

        <form action="/users?_method=DELETE" id="form-delete" method="post">
            <input type="hidden" name="id" value="{{ user.id }}">
            <button type="submit" class="button delete">Deletar</button>
        </form>
    {% endcall %}
    
    <script>
        const formDelete = document.querySelector ('#form-delete')
        formDelete.addEventListener ('submit', ( event ) => {
            const confirmation = confirm('Deseja realmente excluir sua conta? Essa operação não poderá ser desfeita.')
            if ( !confirmation ) event.preventDefault()
        })
    </script>
{% endblock %}