<header>
    <div class="container">
        <a href="/">
            <div class="logo">
                <h1>Launchstore</h1>
                <h2>Sua plataforma de compra e venda</h2>
            </div>
        </a>
        <form action="/products/search" method="get" class="search">
            <input 
                type="text"
                name="filter"
                placeholder="Buscar por produtos"
                {% if search.term %}
                    value="{{ search.term }}"
                {% endif %}
            >
        </form>
        <nav class="primary">
            <ul>
                <li>
                    <a href="/ads/create">
                        <i class="material-icons">add</i>
                        Novo Anúncio
                    </a>
                </li>
                <li class="accounts">
                    {% if not session.userId %}
                        <a href="/accounts">
                            <i class="material-icons">account_circle</i>
                            Minha Conta
                        </a>
                    {% endif %}
                    {% if session.userId %}
                        <a href="#">
                            <i class="material-icons">account_circle</i>
                            Minha Conta
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="/users">Minha conta</a>
                            </li>
                            <li>
                                <a href="/buying">Meus pedidos</a>
                            </li>
                            <li>
                                <a href="/selling">Minhas vendas</a>
                            </li>
                            <li>
                                <form action="/users/logout" method="post">
                                    <button type="submit">Sair</button>
                                </form>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>  